<link href="http://fonts.googleapis.com/css?family=Engagement" rel="stylesheet" type="text/css">
<div class="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>  
</div>  

<!-- NAVBAR
  ================================================== -->
  <div class="navbar-wrapper cbp-af-header">
    <div class="container">

      <!-- Fixed navbar -->
      <div class="navbar cbp-af-inner" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          
            <a class="scroll" style="margin-left: 19%;" href="#intro"><%= image_tag "logo1.png" %></a>
             <h6 style="color:white; font-family: 'Eras light ITC'; background-color: rgba(0,0,0,0.2);"><b>Working for your knowledge</b></h6>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#about">Inicio</a></li>
              <li><a href="#featured1">Servicios</a></li>
            
               


              <!--<li><a href="#featured2">Algomas</a></li>-->
              <li class ="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  CURSOS<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#testimonials" class="tab" data-toggle="tab">Lenguajes</a></li>
                  <li><a href="#pricing" class="tab" data-toggle="tab">Negocios y MBAs</a></li>
                  <li><a href="#businesscourses" class="tab" data-toggle="tab">Arte y Diseño de Modas</a>
                  </li>
                  <li><a href="#sports" class="tab" data-toggle="tab">Deportes</a>
                  </li>
                   <li><a href="#intecno" class="tab" data-toggle="tab">Salud y Turismo</a></li>
                   <li><a href="#it" class="tab" data-toggle="tab">IT</a></li>
                </ul>
              </li>






              <li class="hidden-sm hidden-md"><a href="#gallery">Galeria</a></li>

              <li class ="dropdown hidden-sm">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Idioma<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Español", home_page_path(locale: :es) %>
                  </li>
                  <li>
                    <%= link_to "Ingles", home_page_path(locale: :en), class: "tab", "data-toggle" => "tab" %>
                  </li>
                </ul>
              </li>





              <!--<li class="hidden-sm hidden-md"><a href="#testimonials">Testimonios</a></li>-->            
             <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

  </div>



<!-- Hero Banner
  ================================================== -->
  <div id="intro">
    <div class="item background-cover" style="background: url('<%= image_url 'b2.png' %>')">
      <div class="container">
        <div class="row">
          <div class="carousel-caption-center colour-white">
            <h1 style= "font-family: 'Engagement', cursive;">Aston House College</h1>
            <h4 style="margin:-1.5% 0; font-size:1.3em;">Empresa de Estudios en el Exterior</h4> <br />
            <!--<p>Tus examenes, con el instituto CAMBRIDGE, desde el BRITISH COUNCIL en Colombia.</p>-->
           <!-- <p><a class="btn btn-lg btn-primary signup" href="#singup" role="button">Contáctanos</a></p>-->
          </div>
        </div>
      </div>
      <div class="overlay-bg"></div>
      
    </div>
  </div>

<!-- About Section
  ================================================== -->

  <section id="about" class="light with-bg">

    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 overlay-text">

            <h2 style="text-align:center; margin-top:5%;"><%= t("titulo")%></h2>
            <p style="text-align: justify; background-color: rgba(243, 87, 53, .9); border-radius:10px; padding: 10px 10px 10px 10px; color: white; "> ASTON HOUSE COLLEGE-EMPRESA DE ESTUDIOS EN EL EXTERIOR S.A.S  es una empresa que ofrece planes académicos en el exterior de alta calidad, tales como inglés para extranjeros, inglés de negocios, otros idiomas, un programa especial para profesores de idiomas, plan quinceañeras, cursos de verano para menores de edad, pregrados y postgrados.
              ASTON HOUSE COLLEGE-EMPRESA DE ESTUDIOS EN EL EXTERIOR S.A.S, nace como una organización de experiencias académicas en Europa, Asia y América del Norte, después de 5 años de una buena y estrecha experiencia laboral con STANTON SCHOOL OF ENGLISH, empresa que nos respalda totalmente y con la que seguiremos trabajando como sus agentes para el suroccidente de Colombia. 

            </p>
          
        </div>

        <div class="col-sm-12">
         <!-- <div class="col-sm-6 text-center overlay-text">
           <!--<h2 style="font-size:1.8em; margin-top:21.5%">QUÉ TENEMOS PARA TI...</h2>
         </div>-->
          <div class="col-sm-4 text-center overlay-text icons">
          <div class="icon-wrapper">
            <i class="fa fa-book icon-large"></i>
          </div>
          <h3>IDIOMAS</h3>
            <p>Cursos de idiomas en el exterior</p>
          </div>

          <div class="col-sm-4 text-center overlay-text icons">
            <div class="icon-wrapper">
              <i class="fa fa-book icon-large"></i>
            </div>
            <h3>EDUCACION SUPERIOR</h3>
            <p>Pregrados y posgrados en el exterior</p>
          </div>

          <div class="col-sm-4 text-center overlay-text icons">
            <div class="icon-wrapper">
              <i class="fa fa-globe icon-large"></i>
            </div>
            <h3>BECAS</h3>
            <p> Recibe apoyo para financiar tus estudios</p>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay-bg light"></div>

  </div>
</section>

<!--OFFSET BOOTS: col-sm-1 col-sm-offset-1-->
<!-- Featured Sections
  ================================================== -->

<section id="featured1" class="dark with-bg">


   <div class="container">
    
    <div class ="row">
    <div class="col-sm-12 overlay-text1">
    <h2 style="font-size: 2.5em; margin-top:5%;">Conoce nuestra amplia gama de servicios</h2>
    </div>
      <div class="col-sm-5 col-sm-offset-1 overlay-text">
        
<!--Beginning of panel group-->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne1">
                  Preparamos todos los documentos necesarios!
                  <span class="caret"></span>
                </a>
              </h4>
            </div> <!--end panel-heading-->


             <div id="collapseOne1" class="panel-collapse collapse in">
              <div class="panel-body" style="text-align: justify">
                Para realizar un programa académico en el exterior se requiere llevar a cabo una serie de diligencias para cumplir con los requisitos exigidos por los diferentes paises y nosotros estamos listos para ayudarte en esto. 
                
              </div> <!--end panel-body-->  
             </div> <!--end collapseOne1--> 
          </div> <!--end panel-default 1-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                  Asesoria Gratuita
                </a>
              </h4>
            </div>  <!--end panel-heading-->
            <div id="collapseFive1" class="panel-collapse collapse">
              <div class="panel-body">
                Brindamos ayuda e  información precisa, completa y actualizada  a personas que quieran estudiar en el exterior y puedan tomar decisiones acertadas. Este servicio se brinda de forma gratuita.  
              </div> <!--end panel-body-->
            </div>  <!--end collapseFive1-->
          </div>  <!--end panel-default 5-->
 

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                  Traducción oficial de documentos
                </a>
              </h4>
            </div> <!--end panel-heading 2-->
            <div id="collapseTwo1" class="panel-collapse collapse">
              <div class="panel-body">
                Traducimos documentos expedidos en Colombia o provenientes del exterior. Nuestro servicio de traducción oficial es realizado por traductores inscritos en el Ministerio de Relaciones Exteriores de Colombia, con calidad, a un precio justo y con estricto cumplimiento en su entrega.
              </div> <!--end panel-body-->
            </div>  <!--end collapsetwo1-->
          </div>  <!--end panel-default 2-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                  Traducción no oficial de documentos
                </a>
              </h4>
            </div>  <!--end panel-heading 3-->
            <div id="collapseThree1" class="panel-collapse collapse">
              <div class="panel-body">
                Traducimos documentos del idioma español al idioma inglés y del inglés al español.
              </div> <!--end panel-body-->
            </div>  <!--end collapseThree1-->
          </div>  <!--end panel-default 3-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                  Examenes de certificación del nivel de inglés
                </a>
              </h4>
            </div>  <!--end panel-heading-->
            <div id="collapseFour1" class="panel-collapse collapse">
              <div class="panel-body">
                Te ofrecemos asesoría gratuita con respecto de los exámenes internacionales de inglés como PET, TOEIC, BULATS y IELTS, que están diseñados para aquellos candidatos que desean estudiar y/o trabajar en el exterior. Estas pruebas cubren las cuatro competencias: Escribir, escuchar, hablar y leer.     
              </div> <!--end panel-body-->
            </div>  <!--end collapseFour1-->
          </div>  <!--end panel-default 4-->

          

         </div> <!--end panel-group-->
      </div> <!--end col-sm-7-->


<!--************************************PANEL GROUP TWO **************************************-->
<div class="col-sm-5 overlay-text">
        
<!--Beginning of panel group-->
        <div class="panel-group" id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1One1">
                  Hacemos posible tu viaje al conocimiento!
                  <span class="caret"></span>
                </a>
              </h4>
            </div> <!--end panel-heading-->

             <div id="collapse1One1" class="panel-collapse collapse in">
              <div class="panel-body" style="text-align: justify">
                Te asistimos en el proceso de la obtencion de la visa, te asesoramos para la obtencion de becas y créditos para financiar tus estudios y te ayudamos a conseguir tus tíquetes aéreos por medio de nuestros convenios. 
              </div> <!--end panel-body-->  
             </div> <!--end collapseOne1--> 
          </div> <!--end panel-default 1-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1Two1">
                  Visa de estudiante
                </a>
              </h4>
            </div> <!--end panel-heading 2-->
            <div id="collapse1Two1" class="panel-collapse collapse">
              <div class="panel-body">
                Aston House College y Stanton School of English, diligencian y tramitan profesionalmente el proceso de visado de los nacionales colombianos que viajan a adelantar sus estudios en el exterior. En Inglaterra diligenciamos y tramitamos profesionalmente la extensión de la visa Tier-4. 
              </div> <!--end panel-body-->
            </div>  <!--end collapsetwo1-->
          </div>  <!--end panel-default 2-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1Three1">
                  Visa de turista
                </a>
              </h4>
            </div>  <!--end panel-heading 3-->
            <div id="collapse1Three1" class="panel-collapse collapse">
              <div class="panel-body">
                Tramitamos y asesoramos profesionalmente visas de turismo para países europeos, asiáticos y  de América del Norte como Estados Unidos y Canadá.  
              </div> <!--end panel-body-->
            </div>  <!--end collapseThree1-->
          </div>  <!--end panel-default 3-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1Four1">
                  Créditos y becas de Icetex
                </a>
              </h4>
            </div>  <!--end panel-heading-->
            <div id="collapse1Four1" class="panel-collapse collapse">
              <div class="panel-body">
                Sin ser intermediarios y de forma gratuita informamos sobre los créditos de posgrados y créditos de perfeccionamiento de idiomas en el exterior que ofrece el ICETEX para estudiantes colombianos. Muchos estudiantes nuestros se han beneficiado bajo esta modalidad de préstamos.   
              </div> <!--end panel-body-->
            </div>  <!--end collapseFour1-->
          </div>  <!--end panel-default 4-->



          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1Five1">
                  Tíquetes aéreos
                </a>
              </h4>
            </div>  <!--end panel-heading-->
            <div id="collapse1Five1" class="panel-collapse collapse">
              <div class="panel-body">
                Diligenciamos los tiquetes aéreos a bajo costo, para nuestros estudiantes a través de las compañías aéreas o de la Organización Mundial para las Migraciones OIM.      
              </div> <!--end panel-body-->
            </div>  <!--end collapseFive1-->
          </div>  <!--end panel-default 5-->
         </div> <!--end panel-group-->
      </div> <!--end col-sm-7-->








     <!-- <div class="col-sm-5 text-center">
        <%= image_tag 'thumb3.jpg',
        class:"margin-top img-responsive",
          "alt" =>"Generic placeholder image",
          "data-scrollreveal" => "move 100px and enter from the right after 0.55s",
          "width" =>"429"
          %>
      </div>-->   <!--End col-sm-5-->
      
     </div> <!--end row-->
   </div> <!--end container-->
 <div class="overlay-bg black"></div>
</section>


<!--****CURSOS CORTOS******-->

<!--<section id="featured2" class="content text-center light with-bg">
  <div class="page-header text-center">
  <h3>Cursos Cortos</h3></div>
  <div class="container">
    <div class="overlay-bg light"></div>
    <div class ="row">
      <div class="row">
        <div class="col-sm-5 text-center">
          <%= image_tag 'classes.jpg',
          class:"margin-top img-responsive",
            "alt" =>"Generic placeholder image",
            "data-scrollreveal" => "move 100px and enter from the left after 0.55s",
            "width" =>"429"
            %>
          </div>



          <div class="col-sm-7">
            <div class="panel-group" id="accordion">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Año y semestre académico Internacional
                      <span class="caret"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Es un programa de 24 y 36 semanas para bachilleres colombianos que deseen viajar a aprender el idioma inglés. 
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Asesorias para estudiantes
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Obten información precisa, completa y actualizada si quieres estudiar en el exterior, incluyendo exámenes internacionales de inglés. De este modo, podrás tomar decisiones acertadas para tu futuro! 
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      Programa para quinceañeras
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                   Ofrecemos un curso especial de 4 semanas para quinceañeras quienes viajan a estudiar el idioma inglés, participan de actos socio - culturales y conocen los diferentes sitios turísticos de cada país. 
                 </div>
               </div>
             </div>

             <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    Cursos de verano para estudiantes de 12 a 17 años
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Son programas de vacaciones en instituciones donde estarán bajo el cuidado de personas responsables y podrán disfrutar de la compañía de niños de diferentes nacionalidades del mundo mientras aprenden inglés.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    Teacher Training Program
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  Programa de 4 semanas solo para profesores, donde los profesores podrán capacitarse para enseñar el idioma.
                </div>
              </div>
            </div>

          </div>

        </div>






      </div>
    </div>
  </section>-->


<!-- Language Courses
  ================================================== -->
  <section id="testimonials" class="light">

    <div class="container">
      <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
           
            <h2 style="text-align:center; margin-top:5%;">LENGUAJES</h2>
           
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
              <li data-target="#quote-carousel" data-slide-to="3"></li>
              <li data-target="#quote-carousel" data-slide-to="4"></li>
              <li data-target="#quote-carousel" data-slide-to="5"></li>
              <li data-target="#quote-carousel" data-slide-to="6"></li>
              
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

              <!-- Quote 1 -->

              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div style="margin-top:3%;" class="col-sm-5 text-center">
                      <h4>STANTON SCHOOL</h4>
                      <%= image_tag 'stantonthumb.jpg' ,
                       class:"img-responsive" %>
                      <small> Ubicacion: 167 Queensway. <br> W2 4SB <br>Londres Inglaterra <br> 
                        <a href="http://www.stanton-school.co.uk/" target="_blank">Mas info</a> 
                      </small> 
                      
                    </div>
                    <div style="margin-top:3%;" class="col-sm-7 algo">
                       <%= image_tag 'stanton1.png',
                       class:"img-responsive" %> <br>
                    </div>

                    </div>


                  </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div style="margin-top:3%;" class="col-sm-5 text-center">
                      <h4>THE LANGUAGE GALLERY</h4>
                      <%= image_tag 'tlg.jpg',
                       class:"img-responsive" %>
                      <small> Ubicacion: 18 Southampton Place<br>WC1A 2AJ<br>Londres Inglaterra <br> 
                        <a href="http://www.thelanguagegallery.com/" target="_blank">Mas info</a>
                      </small> 

                    </div>
                    <div style="margin-top:3%;" class="col-sm-7 algo">
                       <%= image_tag 'tlg1.png',
                       class:"img-responsive" %> <br>      
                        
                    </div>

                    </div>


                  </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div style="margin-top:3%;" class="col-sm-5 text-center">
                      <h4>SOUTH THAMES COLLEGE</h4>
                      <%= image_tag 'stc.jpg',
                       class:"img-responsive" %>
                      <small> Ubicación: Wandsworth High Street<br>SW18 2PP<br>Londres Inglaterra <br> 
                        <a href="http://www.south-thames.ac.uk/" target="_blank">Mas info</a>
                      </small> 
                    </div>
                    <div style="margin-top:3%;" class="col-sm-7 algo">
                      <%= image_tag 'stc1.png',
                       class:"img-responsive" %> <br>
                       
                                               
                      </div>


                    </div>


                  </blockquote>
               </div>
         

              <!-- Quote 4 -->
               <div class="item">
                <blockquote>
                  <div class="row">
                    <div style="margin-top:3%;" class="col-sm-5 text-center">
                      <h4>BEET LANGUAGE CENTRE</h4>
                      <%= image_tag 'beet.jpg',
                       class:"img-responsive" %>
                      <!-- 4:3 aspect ratio -->
                       <!-- <div class='embed-container flex-video widescreen'><iframe src='http://www.youtube.com/embed/4z2Nxr-jeCg' frameborder='0' allowfullscreen></iframe></div>-->
                        <small> Ubicación: Nortoft Rd<br> BH8 8PY<br>Bournemouth Inglaterra <br> 
                        <a href="http://http://www.beet.co.uk//" target="_blank">Mas info</a>
                      </small>
                        
                    </div>
                    <div style="margin-top:3%;" class="col-sm-7 algo">
                       <%= image_tag 'beet1.png',
                       class:"img-responsive" %> <br>
                          
                    </div>


                    </div>


                  </blockquote>
                </div>
              <!-- Quote 5 -->


               <div class="item">
                <blockquote>
                  <div class="row">
                    <div style="margin-top:3%;" class="col-sm-5 text-center">
                      <h4>WESSEX ACADEMY</h4>
                      <%= image_tag 'wessex.jpg' ,
                       class:"img-responsive" %>

                       <small> Ubicación: 84-86 Parkstone Road<br>BH15 2PG<br> Poole Inglaterra<br> 
                        <a href="http://www.wessexacademy.com" target="_blank">Mas info</a>
                      </small>
                                        
                    </div>
                    <div style="margin-top:3%;" class="col-sm-7 algo">
                      <%= image_tag 'wessex1.png' ,
                       class:"img-responsive" %> <br>
                        
                      </div>

                    </div>


                  </blockquote>
                </div>
              <!-- Quote 6 -->

               <div class="item">
                <blockquote>
                  <div class="row">
                    
                    <div style="margin-top:3%;" class="col-sm-5 text-center">
                      <h4>NEW COLLEGE MANCHESTER</h4>
                      <%= image_tag 'ncm.jpg',
                       class:"img-responsive" %>
                       <small> Ubicación: Murray House, 85 Piccadilly<br>M1 2DA<br>Manchester  Inglaterra<br> 
                        <a href="http://www.newcollegemanchester.com/" target="_blank">Mas info</a>
                      </small>
                   
                    </div>
                    <div style="margin-top:3%;" class="col-sm-7 algo">
                       <%= image_tag 'ncm1.png',
                       class:"img-responsive" %> <br>
                      
                        
                      </div>

                    </div>


                  </blockquote>
                </div>
              <!-- Quote 7 -->

               <div class="item">
                <blockquote>
                  <div class="row">
                    <div style="margin-top:3%;" class="col-sm-5 text-center">
                      <h4>LSI</h4>
                      <%= image_tag 'lsi.jpg',
                       class:"img-responsive" %>
                       <small> Ubicación: 19-21 Ridgmount Street<br>WC1E 7AH<br>Londres Inglaterra<br> 
                        <a href="http://www.lsi.edu/en/" target="_blank">Mas info</a>
                      </small>
                   
                    </div>
                    <div style="margin-top:3%" class="col-sm-7 algo">
                       <%= image_tag 'lsi.png', class:"img-responsive" %><br>
                    </div>
                    </div>
                  </blockquote>
                </div>
            </div>
            <!-- Carousel Buttons Next/Prev -->
            <br />
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control visible-md visible-lg"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control visible-md visible-lg"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- Negocios y MBAs
  ================================================== -->
  <section id="pricing" class="dark with-bg1">
    <div class="container">
     <div class="row">
        
        <div class="plans">
          <div class="col-sm-12 overlay-text">
            <h2 style="text-align:center; margin-top:5%;">Negocios y MBA's</h2>
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
               <h2><strong>Escuelas</strong></h2>
              </div>

                  <ul class="plan-features">


                <li class="col-sm-12">
                 <div class="col-sm-9" style="text-align:justify"> 

                <strong>LONDON SCHOOL OF BUSINESS AND FINANCE</strong> <br /> La London School of Business and Finance (LSBF) ofrece programas de pregrado, posgrado y cursos profesionales en sus siete campuses ubicados en Londres, Manchester, Birmingham, Singapur, Toronto y Hannover, así como en modalidad online. <br>

                Como una escuela galardonada LSBF trabaja con prestigiosas instituciones para ofrecer programas de pregrado de alta relevancia para la industria, entre las opciones de pregrado se encuentran: Negocios, Tecnologias de la Informacion, Finanzas, Salud, Hoteleria y Turismo, Gerencia de Industrias Creativas y un curso de Fundamentos en Negocios (Foundation). <br>

                En cuento a posgrados la escuela ofrece una variedad de MBA's, maestrías en Finanzas, Mercadeo, Ley Mercantíl y cursos preparatorios para las maestrías (cursos de inglés para propósitos específicos).<br>

                La escuela ofrece además cursos profesionales para obtener certificaciones  ACCA, CIMA, CIM, CFA y OTHM y con ello darle a tu carrera distinción a nivel global.
                Para mayor información visita el website de <a href="http://www.fbt-global.com/" target="_blank">LSBF</a>

                </div>

                <div class="col-sm-3">
                  <%= image_tag 'user-avatar1.jpg',
                       class:"img-responsive",
                       style: "margin: 0 auto" %>
                  
                   <small style="text-align:justify"> 
                    <center>Manuel Bucheli </center>
                    <center>MBA en LSBF<br>
                    “Estudie un MBA en LSBF Londres, programa con alto nivel académico, todas las instalaciones necesarias y excelente ubicación en la ciudad.”
                    </center>
                   </small>

                </div>


               </li>


                <li class="col-sm-12">
                 <div class="col-sm-9" style="text-align:justify"> 

                <strong>FINANCE BUSINESS TRAINING</strong> <br />
                FBT enlaza cursos de calidad con valor total para sus muchos estudiantes en el Reino Unido. Se dedica a asegurar que el costo no es una barrera para una educación excepcional en Negocios. <br>
                FBT ofrece cursos profesionales ACCA y CIMA, pregrados en Negocios, Gerencia de Hotelería y Turismo, y Diseño de modas y Textiles. Adicionalmente FBT ofrece un Foundation Course para Diseño de Modas y Textiles.<br>
                La institución está ubicada en  Birmingham, la segunda ciudad más poblada en Inglaterra, después de Londres.<br>
                Para mayor informacion visita el website de <a href="http://www.fbt-global.com/" target="_blank"> FBT </a>
                </div>

                <div class="col-sm-3">
                  <%= image_tag 'fbt.jpg',
                       class:"img-responsive",
                       style: "margin: 8px auto" %>
                                     
                </div>


               </li>

                <li class="col-sm-12">
                 <div class="col-sm-9" style="text-align:justify"> 

                <strong>GISMA</strong> <br />
                Esta altamente reconocida escuela de negocios en Europa, tiene su sede principal en Hannover, Alemania y en asociación con otras reconocidas escuelas como Maastricht School of Management MBM Y London School of Business and Finance LSBF, brinda a profesionales interesados en negocios y gerencia la oportunidad de engrandecer su perfil profesional en otras ciudades de Europa. La escuela ofrece un GISMA/MSM MBA, GISMA MBA Dual, Cursos para obtener certificados ACCA y CFA, y variados cursos para profesionales, entre los que se encuentran: Digital Marketing y Social Media, Management Consulting y Project Management, Innovación y Emprendimiento, Planeamiento de Mercadeo y Estrategia, entre otros!
 <a href="http://www.fbt-global.com/" target="_blank"> FBT </a>
                </div>

                <div class="col-sm-3">
                  <%= image_tag 'gisma.jpg',
                       class:"img-responsive",
                       style: "margin: 8px auto" %>
                                     
                </div>


               </li>

               <li class="col-sm-12">
                 <div class="col-sm-9" style="text-align:justify"> 

                <strong>St PATRICK'S INTERNATIONAL COLLEGE</strong> <br />
                Con 200 años de historia, St Patrick's ofrece cursos prácticos, basadas en habilidades, teniendo los estudiantes más cerca de un entorno de trabajo real. Estudiantes de St Patrick son preparados por expertos para carreras exitosas en áreas como negocios y marketing, salud y turismo. Los cursos ofrecidos en el área de negocios son: HND Business Management -Extended Diploma in Strategic Management and Leadership -MBA School Business Management -MBA Leadership and Change Management -Global MBA -MA International Business Law -MA Strategic Marketing -MA in Finance and Investment -CIMA -CIMA Full-time -CIMA Plus MBA -CIMA Complete.
 <a href="http://www.fbt-global.com/" target="_blank"> FBT </a>
                </div>

                <div class="col-sm-3">
                  <%= image_tag 'gisma.jpg',
                       class:"img-responsive",
                       style: "margin: 8px auto" %>
                                     
                </div>


               </li>








                <li> <center> <small>Entérate de las becas disponibles para estudiantes internacionales en nuestra oficina!</small></center></li>
              </ul>

              <div class="plan-cta" style="background-color:#FD795B">
                <p class="plan-buy"></p>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
<div class="overlay-bg black"></div>
  </section>


<!--Arte y diseño de modas
  ===================================================-->

  <section id="businesscourses" class="light">
    <div class="container">
      <div class="row">
        <h2 style="text-align:center; margin-top:5%;">ARTE Y DISEÑO DE MODAS</h2>
        <div class="plans">
          <div class="col-sm-6" style="display:inline-block; vertical-align: top;">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
               <h2><strong>Escuelas</strong></h2>
              </div>
              <ul class="plan-features">
              <li><strong>LONDON SCHOOL OF FASHION AND DESIGN</strong> <br /> Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.
              <SPAN class="hidden-sm hidden-md">  ESTO NO SE VERAAAEscuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad. </SPAN>

              </li>
              <li><strong>LONDON COLLEGE OF COMTEMPORARY ARTS</strong> <br /> Escuela privada de inglés en Bournemouth Inglaterra, ubicada en la costa sur del país.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester<SPAN class="hidden-sm hidden-md">  ESTO NO SE VERAAAEscuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad. </SPAN></li>
              
            </ul>
            <div class="plan-cta" style="background-color:#FD795B">
              <p class="plan-buy"></p>
            </div>

          </div>
        </div>
        <div id="cf3" class="col-sm-6 text-center" >
          
          <!--<img class="bottom" src="/images/Windows%20Logo.jpg" />-->
          <%= image_tag 'fashion.jpg',
          class:"img-responsive"
            %>
           <%= image_tag 'fashionphoto.jpg',
          class:"img-responsive"
            %>  
             <%= image_tag 'fashion2.jpg',
          class:"img-responsive"
            %>  
             <%= image_tag 'fashion3.jpg',
          class:"img-responsive"
            %>  


         <!-- <img class="top" src="/images/Turtle.jpg" />-->
          
         
          </div>






      </div>
    </div>
  </div>

</section>


<!-- Deportes
  ================================================== -->
  <section id="sports" class="dark with-bg2">
    <div class="container">
      <div class="row">
        <h2 style="text-align:center; margin-top:5%; font-weight: bold;">Deportes</h2>
      </div>


<div class="row">


<div class="col-sm-12">
  <center>
  <h1>
<span>LFC E.L.I.T.E.S - Liverpool Football Club e Inglés</span>

</h1>

  <h3><span>Es el resultado de una primera alianza educativa siempre entre una Liga Football Club Premier (Liverpool Football Club) y un proveedor de la educación superior (LSBF). Ahora combinado en su excelencia, los logros y la innovación, las élites LFC ofrecen una gama de programas dinámicos en todo el mundo, la exploración de las habilidades transferibles y estrategias entre el deporte y los negocios. ÉLITES Escuela de Inglés y Fútbol es un programa residencial para jóvenes de 12 a 17 años de todo el mundo que deseen experimentar unas vacaciones de verano con un toque de verdad! Con la opción de estancia de una semana a un máximo de nueve semanas durante los meses de verano de 2014, los estudiantes tendrán la oportunidad de participar en cursos de inglés, impartidas por profesores altamente cualificados y experimentados de LSBF de La Galería de idioma, y de pasar al otro la mitad del día con entrenadores FC Liverpool.</span></h3>
</center>
</div>
</div>

<div class="row">
  <div class="col-sm-12">
  <center>
  <h1>
  <span>El curso incluye</span>
  </h1> 
  </center>

  <h3><center><span>
      English language tuition from The Language Gallery teachers (3 hours per day) <br>
      Professional coaching from Liverpool Football Club coaches<br>
      All meals and refreshments<br>
      On-site accommodation<br>
      LFC E.L.I.T.E.S Certification<br>
      Full programme of evening activities and weekend excursions<br>
      Complimentary LFC E.L.I.T.E.S football kit
      </span></center></h3>
      

</div>
</div>











            <!--<div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
               <h2><strong>Cursos de inglés</strong></h2>
              </div>
              </div>-->
        
      
    
  </div>

</section>




<!-- Health and Tourism
  ================================================== -->
  <section id="intecno" class="light">
    <div class="container">
      <div class="row">
        <h2 style="text-align:center; margin-top:5%;">SALUD Y TURISMO</h2>
        <div class="plans">
          <div class="col-sm-6" style="display:inline-block; vertical-align: top;">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
               <h2><strong>Escuelas</strong></h2>
              </div>
              <ul class="plan-features">
              <li><strong>St. PATRICK'S INTERNATIONAL COLLEGE</strong> <br />  la salud y el turismo. GUS unido de San Patricio en 2012 y en este corto tiempo pasó por una transformación revolucionaria por el reposicionamiento de la marca, mejora de la infraestructura, el fortalecimiento del equipo de gestión e impulsar los esfuerzos de marketing. Los resultados alcanzados en 1 año no son nada menos que fenomenal - estudiantado aumento de varios cientos a más de 10.000, con tasas de retención más altas que el promedio nacional y el aumento de más de 20 veces en los ingresos. <br />
              Los cursos ofrecidos en éstas áreas son: <br />  
              <ul>

                <li>HND Health and Social Care Management</li>
                <li>HND Hospitality Management</li>
                <li>Advanced Professional Diploma in International Health Management</li>
                <li>MBA Healthcare Management</li>
                <li>Advanced Professional Diploma in Strategic Hospitality Management</li>

              </ul>
              <SPAN class="hidden-sm hidden-md">  ESTO NO SE VERAAAEscuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad. </SPAN>

              </li>
              
              
            </ul>
            <div class="plan-cta" style="background-color:#FD795B">
              <p class="plan-buy"></p>
            </div>

          </div>
        </div>
        <div id="cf4" class="col-sm-6 text-center" >
          
          <!--<img class="bottom" src="/images/Windows%20Logo.jpg" />-->
          <%= image_tag 'patrick.jpg',
          class:"img-responsive bottom"
            %>
             <%= image_tag 'patrick1.jpg',
          class:"img-responsive top"
            %>
            


         <!-- <img class="top" src="/images/Turtle.jpg" />-->
          
         
          </div>






      </div>
    </div>
  </div>

</section>






<!-- IT
  ================================================== -->

  <section id="it" class="dark with-bg3">
    <div class="container">

      <div class="row heading">
        <h2 style="text-align:center; margin-top:5%; font-weight: bold;"><span>TECNOLOGÍAS DE LA INFORMACIÓN</span></h2>
        <div class="col-sm-6">
        
        <h3><span>Obten las certificaciones profesionales que necesitas</span></h3>
        </div>
        </div>

        <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <h1><span>CISCO</span></h1></div>
        <div class="col-sm-3 col-sm-offset-2">
          <center><h1><span>VMWARE</span></h1></center>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-3"> <h1><span>MICROSOFT</span></h1></div>
        <div class="col-sm-2"><h1><span>PRINCE 2</span></h1></div>
        <div class="col-sm-3 col-sm-offset-1"><h1><span>ITIL</span></h1></div>
        <div class="col-sm-2"><h1><span>COMPTIA</span></h1></div>
        </div>
        <div class="row">
        <div class="col-sm-3"><h1><span>MC&sup2</span></h1></div>
        <div class="col-sm-2"><h1><span>CITRIX</span>
          </h1></div>
        <div class="col-sm-3 col-sm-offset-2"><h1><span>CHECKPOINT</span></h1></div>

        </div>



      <div class="row">
        <div class="col-sm-12 maint">
           <h3><span>Es el resultado de una primera alianza educativa siempre entre una Liga Football Club Premier (Liverpool Football Club) y un proveedor de la educación superior (LSBF). Ahora combinado en su excelencia, los logros y la innovación, las élites LFC ofrecen una gama de programas dinámicos en todo el mundo, la exploración de las habilidades transferibles y estrategias entre el deporte y los negocios. ÉLITES Escuela de Inglés y Fútbol es un programa residencial para jóvenes de 12 a 17 años de todo el mundo que deseen experimentar unas vacaciones de verano con un toque de verdad! Con la opción de estancia de una semana a un máximo de nueve semanas durante los meses de verano de 2014, los estudiantes tendrán la oportunidad de participar en cursos de inglés, impartidas por profesores altamente cualificados y experimentados de LSBF de La Galería de idioma, y de pasar al otro la mitad del día con entrenadores FC Liverpool.</span></h3>


        </div>
        
      </div>




      
  </div>

</section>









<!-- Gallery
  ================================================== -->
  <section id="gallery" class="light with-bg">

    <div class="page-header text-center">
      <h3>Galeria</h3>
      <!--<h2> Hey! Conoce Popayán!</h2>-->
    </div>

    <div class="container">
      <div class="overlay-bg light"></div>
      <div class="row">
        <div class="col-md-12">
          <div id="owl-example" class="owl-carousel">
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb1.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb1.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb2.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb2.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb3.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb3.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb4.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb4.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb5.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb5.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb6.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb6.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
             <div class="item">
              <a href="<%= image_url 'thumbs/thumb7.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb7.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
             <div class="item">
              <a href="<%= image_url 'thumbs/thumb8.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb8.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
             <div class="item">
              <a href="<%= image_url 'thumbs/thumb9.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb9.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>










<!-- Call to Action
  ================================================== -->
<!--<section class="cta text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>Start freelancing now.</h2>
        <p><a href="#" class="btn signup" role="button">Get started</a></p>
      </div>
    </div>

  </div>

</section>-->


<!-- Footer
  ================================================== -->
  <footer id="contact" class="footer">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-sm-6 col-md-6">
            <div class="footer-logo">
              <h2>Aston House College</h2>
              <p>Carrera 9 # 18N - 187, Popayán, Cauca<br>+1 (123) 456-7890</p>
              <br>
              <p class="muted">© 2014 Aston House College S.A.S</p>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <a class="icon" href="http://www.twitter.com/Paola_M_Astaiza" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="https://www.facebook.com/pages/STANTON-SCHOOL-OF-ENGLISH/184296251624519?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon" href="http://google.com/+PaolaMorenoAstaiza" target="_blank"><i class="fa fa-google-plus-square"></i></a>
            <a class="icon" href="http://www.workingnomads.co" target="_blank"><i class="fa fa-globe"></i></a>
          </div>


        </div>
      </div>

    </div>

  </footer>

  <div id="login" class="overlay overlay-content">

    <button type="button" class="overlay-close">Close</button>
    <section class="login-part">
      <p class="login-overlay">
        Log In
      </p>
      <form method="post">
        <input class="form-control" type="email" name="u" placeholder="Email" required="required" />
        <input class="form-control" type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Log me in</button>
        <a href="#" class="forgot-pw">Forgot password? We can help!</a>
      </form>
    </section>

  </div>

  <div id="signup" class="overlay overlay-content">

    <button type="button" class="overlay-close">Close</button>
    <section class="login-part">
   <!-- <p class="login-overlay">
      Sign up to Prestige
    </p>-->

    <!--<div id="wufoo-z17c1l8811i1dhl">
      Fill out my <a href="https://paolamastaiza.wufoo.com/forms/z17c1l8811i1dhl">online form</a>.
    </div>
    <script type="text/javascript">var z17c1l8811i1dhl;(function(d, t) {
      var s = d.createElement(t), options = {
        'userName':'paolamastaiza',
        'formHash':'z17c1l8811i1dhl',
        'autoResize':true,
        'width':'450',
        'height':'437',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z17c1l8811i1dhl = new WufooForm();z17c1l8811i1dhl.initialize(options);z17c1l8811i1dhl.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>-->


      </section>

    </div>

   